@import '~antd/dist/antd.css';


/* Global Styles */ 

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #191b22;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 500;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 200;
  letter-spacing: -0.03em;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: -0.03em;
}



.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}


.blue {
  background-color: rgb(105, 155, 247);
}

.green {
  background-color: #D1F2EB;
}

.dark-green {
  background-color: #0FA958;
}

.yellow {
  background-color: #FEF9E7;
}

.dark-yellow {
  background-color: #FFC700;
  color: black;
}

.white {
  background-color: white;
}

.pink {
  background-color: #CE2158;
}

.orange {
  background-color: #EB8643;
}

.light-green {
  background-color: #DDEFEF
}

.light-purple {
  background-color: rgb(199, 185, 255);
}

.purple {
  background-color: #A259FF;
}

.dark-purple {
  background-color: #5551FF;
  
}

.black {
  background-color: black;
  
}

.coral {
  background-color: rgb(255, 133, 119);
}

.grey {
  background-color: #fff8f5;
}

.font-white {
  color: white;
}

.font-coral {
  color:  rgb(255, 133, 119);
}

.font-purple {
  color: #5551FF;
}

.font-white h3 {
  color: white;
}

.font-white h5 {
  color: white;
}

.black-font {
  color: black;
}

.black-border {
  border: 3px solid black;
  border-radius: 10px;
}

.space {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Global Components */
 .banner-button {
   border: 3px solid black;
   border-radius: 10px;
   background-color: white;
   color: black;
   font-size: 1rem;
   height: 50px;
   width: 200px;
   margin-top: 2rem;
 }

 /* Grids */ 

 .grid-image {
   width: 100%;
   margin: auto;
   text-align: center;
 }

/* Page Styles */
/* All Pages */

.page-intro {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-content {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}

.guide-page-content {
  width: 100%;
  margin: auto;
  margin-top: 4rem;
}

/* Signup Page */

.signup-form-page {
  height: 100vh;
}

.progress-bar-container {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}
.signup-form-container {
  padding-top: 4rem;
}
.signup-header {
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
}
.signup-form-fields-container {
  margin: auto;
}

.signup-form-grid .ant-col {
  margin: auto;
  text-align: center;
}

.doggo-input-container {
  margin: auto;
  justify-self: center;
  align-self: center;
  align-items: center;
}


.doggo-input {
  height: 80px;
  margin: auto;
}

.doggo-input-text-field {
  height: 52px;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0 0 hsla(0,8%,61%,.5);
    border: 1px solid #acacbc;
    background-color: #fff;
    outline: none;
}

.doggo-input-number-field {
   width: 55px;
  height: 52px;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0 0 hsla(0,8%,61%,.5);
    border: 1px solid #acacbc;
    background-color: #fff;
    outline: none;
}

.doggo-input-number-label {
  justify-self: center;
  align-self: center;
  align-items: center;
}

.signup-form-next-button button {
  border: 3px solid black;
  border-radius: 10px;
  height: 52px;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
}




/* Landing Page */

.landing-page-banner {
  min-height: 100px;
  padding: 2rem;
  vertical-align: middle;
}

.landing-page-call-to-action {
  vertical-align: middle;
  padding-top: 8rem;
  align-items: center;
}
.call-to-action-block-content {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.call-to-action-primary {
  width: 33%;
  text-align: left;
}

.call-to-action-image-container {
  width: 44%;
  text-align: center;
}

.call-to-action-image {
  width: 84%;
  object-fit: cover;
  max-height: 500px;
}

/* Call to Action Block */

.call-to-action-primary-mobile {
  text-align: center;
}

.call-to-action-image-container-mobile {
  text-align: center;
  
}

.stock-image {
  width: 100%;
  
}


/* Navbar Styles */ 


.menu-drawer {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.mobile {
  padding: 1rem;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 5px;
  color: black;
}

.logo-photo {
  height: 35px;
  margin-right: 0.75rem;
  padding-top: 0.4rem;
}

.next-section-button {
  width: 100%;
  /*background-color: #FFC700;*/
  /*text-align: center;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center; 
  
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.next-section-button-content {
  width: 80%;
  margin: auto;
}

.next-section-button button {
  width: 100%;
  max-width: 400px;
 
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  border: 3px solid black;
  background-color: white;
  color:black;
  margin-top: 2rem;
  
  
}

/* Checklist Page Elements */

.checklist-card-step-count {
  display: flex;
  background-color: black;
  width: 100px;
  height: 25px;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 25px; 
  margin-bottom: 15px;

}
.show-checklist button {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  color:black;
  height: 3rem;
  width: 200px;
  margin-top: 3rem;
}



.guide-banner {
  width: 100%;
  height: 600px;
  
  z-index: 2;
  text-align: left;
  position: relative;
  
} 

.guide-banner-image {
  
  width: 100%;
  min-height: 600px;
  object-fit: cover;
  opacity: 1.2;
  
  
}

.guide-banner-title {
  position: absolute;
 
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.guide-banner-title h5 {
  color:white;
  font-weight: 300;

}

.guide-banner-title h3 {
  color: white;
  font-size: 2.25rem;
  margin-top: 0.5rem;
}

.secondary-banner {
  color: white;
  padding: 2rem;
  
}

.secondary-banner-content {
  width: 100%;
  margin: auto;
  text-align: center;
  
}

.secondary-banner h5 {
  
  font-weight: 500;
 
}

.secondary-banner-content .icon {
  font-size: 3rem;
}


.checklist-page-alert {
  max-width: 80%;
  margin: auto;

}

.checklist-icon {
  font-size: 3rem;
}

.center {
  text-align: center;
}





/* Cards (In Checklist and Gear Pages) */
.gear-row {
  margin: auto;
  text-align: center;
}

.gear-card-box {
  margin: auto;
}

.checklist-card-box {
  margin: auto;
}

.card-box {
  /*display: flex;*/
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  
  
}

.card-box .ant-row {
  text-align: center;
}

.card-box-subtitle {
  font-weight: 400;
}

.checklist-card {
    width: 100%;
    max-width: 350px;
    max-height: 550px;

    margin: auto;
   
    /*border: 1px solid rgb(85, 81, 255);*/
    border-radius: 10px;
    overflow: hidden;
   
    
}


.ant-card-meta-title {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: normal;
}

.ant-card-meta-description {
  color: coral;
}



.gear-card {
  width: 100%;
  max-width: 350px;
  max-height: 550px;

  margin: auto;
 
  box-shadow: rgba(64, 62, 61, 0.05) 0px 5px 15px 0px;
  border-radius: 5px;
  overflow: hidden;
 
  
}

.gear-card .ant-card-body {
  padding: 1rem;
  height: 120px;
}



/*.card-image {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  overflow: hidden;
  max-height: 250px;
  z-index: -1;

  
  
}

.card-image img {
  z-index: -1;
  
}
*/

.card-text {
  text-align: left;
}


.ant-progress-circle-path {
  height: 50px;
  width: 50px;
}

.card-content {
  display: flex;
  text-align: left;

  
  
}

.ant-card-body {
  height: 175px;
}

.gear-info-card .ant-card-body {
  height: auto;
}

.drawer-button {
 /* margin-bottom: 1rem;*/
}



/* Vet Page */


.vet-finder .checklist-page-section-intro {
  margin-bottom: 2rem;
}

.vet-finder-input {
  
  margin-top: 2rem;
  border: 3px solid rgb(85, 81, 255);
  padding: 1rem;
  
}

.vet-finder-input-box {
  display: flex;
}
.vet-finder-button {
  margin-left: 1rem;
  border: 3px solid black;
  border-radius: 10px;
  height: 45px;
  color: black;
}

.vet-finder input {
  background-color: rgb(255, 133, 119);
  border: 3px solid black;
  max-width: 175px;
}

.vet-finder-input h5 {
  margin-top: 0px;
}

.vet-map {
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  
}

.vet-grid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.vet-list {
  margin-top: 2rem;
}
.vet-card {
  margin-top: 1rem;
}



/* Puppy Socialization */

.alert-box {
  margin-top: 2rem;
}

.training-detail {
  margin-top: 2rem;
}
.training-action {
  display: flex;
 
  margin: auto;
  margin-bottom: 2rem;
}

.training-content {
  width: 60%;
  margin-left: 1rem;
}

.training-learning-points {
  margin-top: 2rem;
}

.training-avatar {
  margin-bottom: 1rem;
}

.trainer-container {
  margin: auto;
  text-align: center;
}

.trainer-container h2 {
  margin-bottom: 3rem;
}

.trainer-card {
  margin: auto;
  margin-top: 2rem;
  border: 4px solid black;
  border-radius: 10px;
  max-width: 600px;

}

.trainer-card .ant-card-body {
  background-color: white;
}

.trainer-card .ant-card-head {
  background-color: #A259FF;
}

.trainer-card a {
  color: white;
}

/* Survival Guide Styling */

.survival-guide-header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.survival-guide-header-button {
  width: 120px;
  border: 3px solid black;
   border-radius: 10px;
   background-color: white;
   color: black;
   font-size: 0.75rem;
   height: 50px;
   
}

.selected {
  background-color: coral;
  color: white;
  border: 3px solid rgb(85, 81, 255);
}

.grid-container {
  text-align: center;
  margin: auto;
}
.survival-guide-banner .ant-row {
  text-align: center;
  
}

.survival-guide-banner-col {
  text-align: center;
  max-width: 130px;
  margin-bottom: 2rem;
}

.survival-guide-header-image {
  margin: auto;
  width: 100%;
  text-align: center;
}

.survival-guide-headshot {
  max-height: 120px;
}

.survival-guide-banner {
  width: 100%;
  height: 500px;
  text-align: center;
  z-index: 2;

  position: relative;
  
} 


.survival-guide-banner-image {
  
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  opacity: 1.2;
  
  
}

.survival-guide-banner-title {
  position: absolute;
 
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.survival-guide-banner-title h5 {
  color:rgb(85, 81, 255);
  font-weight: 500;
  font-size: 2rem;
}

.survival-guide-banner-title h3 {

  font-size: 2.25rem;
  margin-top: 0.5rem;
}

.survival-guide-faq {
  border: 0px solid white;
  margin-top: 2rem;
}

.survival-guide-faq .ant-collapse-item .ant-collapse-header {
  background-color: white;
  color: rgb(85, 81, 255);
  font-size: 1.5rem;
  border: 0px solid white;
}

.ant-collapse-header {
  border: 0px solid white;

  color: white;
}

.survival-guide-steps {
  width: 100%;
}

.survival-guide-steps-row .ant-col {
  padding: 2rem;
}

.survival-guide-step-col {
  padding: 2rem;
  max-width: 400px;
}

.survival-guide-steps_num {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    line-height: 50px;
    margin: auto;
    background: #fff;
}

.survival-guide-image {
  max-width: 700px;
}

.pro-tip-icon {
 
  width: 100px;
}

.survival-content-group {
  margin-top: 2rem;
}

.trick-list {
  display: flex;
  align-items: center;
 
}

.trick-list-num {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    line-height: 50px;
    margin-right: 2rem;
    background: black;
    text-align: center;
    font-size: 1rem;
    font-weight: 700
}

.trick-list-content {
  width: 400px;
}

.back-to-guide-button {
   position: absolute;
   width: 70%;
   top: 15%;
   left: 175px;
   transform: translate(-50%, -50%);
   color: white;
   margin-bottom: 4rem;
}

.back-to-guide-button button {
  border: 2px solid black;
  background-color: rgb(85, 81, 255);
  color: white;
  
}

.section-count {
  border: 3px solid black;
  border-radius: 10px;
  background-color: black;
  width: 30%;
  max-width: 250px;
  color: white;
  font-weight: 500;
  text-align: center;
}

.survival-guide-title {
  color: #A259FF;
}

.title-box h5 {
  color: coral;
  font-weight: 500;
}

.survival-guide-step {
  color: coral;
  font-weight: 700;
}

.video-link {
  max-width: 700px;
  text-align: center;
}

.page-image {
  width: 100%;
  
}

.guide-detail {
  margin-top: 2rem;
}
.guide-action {
  display: flex;
 
  margin: auto;
  margin-bottom: 1rem;
}

.guide-content {
  width: 60%;
  margin-left: 1rem;
}

.guide-points {
  margin-top: 1rem;
}

.guide-avatar {
  margin-bottom: 1rem;
}

.guide-start {
  background-color: white;
  border: 1px solid coral;
  padding: 1rem;
  text-align: center;
}

.guide-direction-button {
  width: 20%;
  text-align: center;
}

/* Guide Pages */


.back-to-checklist-button-test {
  /*position: absolute;*/
  width: 70%;
  /*top: 15%;/*
  /*left: 175px;*/
  /*transform: translate(-50%, -50%);*/
  color: white;
  margin-bottom: 4rem;
  
}

.back-to-checklist-button-test button {
  border: 2px solid black;
  background-color: white;
  color: black;
  
}

.guide-content-intro {
  padding: 2rem;
}

.guide-content-outro {
  padding: 2rem;
}

.row-content-intro {
  margin-bottom: 2rem;
}

.stock-box {
  margin: auto;
  text-align: center;
}
.stock-icon {
  width: 300px;
  height: 300px;
  text-align: center;
  margin: auto;
}
/* PrepareHome Page */

.guide-progress {
  background-color: white;
  text-align: center;
}
.guide-control-bar {
  display: flex;
}

.guide-step-count {
  width: 60%;
  text-align: center;
}

.icon-box {
  text-align: center;
  margin-top: 2rem;
}

.prepare-home-icon {
  font-size: 40px;
}

/* Pickup Pup */

.intro {
  
  margin-top: 3rem;
}
.russ-image {
  width: 225px;
  max-height: 225px;
  border-radius: 50%;
  object-fit: cover;
}

/* pup home page */

.guide-content-one {
  padding: 2rem;
  background-color: #FFEEFF;
  color: rgb(39, 21, 68)
  
}

.guide-content-two {
  padding: 2rem;
  background-color:#FFFFEE;
  
}

.guide-content-three {
  padding: 2rem;
  background-color:#FFEEDD;
  
}

.guide-content-four {
  padding: 2rem;
  background-color:#CCEEDD;
  
}

/* Food Page */

.content {
  height: auto;
}
.food-expert {
  text-align: center;
  background-color: white;
  padding: 1rem;
}

.food-avatar {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.food-card {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  height: 100%;
}

.food-card .ant-card-body {
  padding: 0px;
  border: 0px;
}

.food-card-image {
  max-width: 300px;
  margin: auto;
  /*object-fit: cover;*/
  border: 0px;
}

.food-card-content {
  text-align: left;
  padding: 0px;
}

.food-card h5 {
  font-weight: 700;
  color: rgb(85, 81, 255);
}

.food-card h6 {
  font-weight: 600;
  color: rgb(255, 133, 119);
}

.food-card .ant-collapse-header {
  border: 3px solid rgb(85, 81, 255);
  color: rgb(255, 133, 119);
}

.food-card .card_purchase_button button{
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(85, 81, 255);
  color: white;
  height: 50px;
  
}

.more-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nutrition-types-container {
  display: flex;
  justify-content: space-around
}

.nutrition-type-item-image-container {
  width: 300px;
  height: 300px;
  
 
  padding: 1rem;
  text-align: left;

}


.nutrition-type-item {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  text-align: left;
}

.food-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.nutrition-image-box {
  width: 100%;
  max-height: 500px;
}

.grain {
  vertical-align: middle;
  align-items: center;
  max-width: 100%;
  
  
}


.grain-content {
  max-width: 456px;
  padding-left: 1rem;
}

.grain image {
  max-width: 400px;
  text-align: center;
}

/* Food Carousel Styling */
.ant-carousel .slick-slide {
  text-align: center;
 
  line-height: 160px;
  /*background: #364d79;*/
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.carousel-control {
  vertical-align: middle;
  padding: 1rem;
}

.carousel-control h4 {
  margin: auto;
  text-align: center;
}

/* Nutrition Page Styling */


.food-type-image-box {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin: auto;
}

.what-to-look-for-icon {
  margin: auto;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.checklist-page-section-intro {
  margin-bottom: 4rem;
}

.checklist-page-section-intro h3 {
  margin-bottom: 2rem;
}

.checklist-page {
  padding: 2rem;
  
}

.nutrition-type-item {
  
  margin: auto;
  margin-top: 3rem;
}

.nutrition-type-content {
  text-align: left;
}


.center {
  text-align: center;
}


.format-picker {
  display: flex;
  height: 3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.picker-button {
  background-color: white;
  border: 1px solid #34495E;
  color: #34495E;
  width: 500px;
  height: 100px;
  font-size: 1rem;
}

.picker-button h5 {
  margin-top: 0px;
}

.checked {
  background-color: #34495E;
  color: white;
}

.carousel-intro {
  padding: 2rem;
  background-color: white;
}

.carousel-test {
  position: relative;
  background-color: white;
  padding: 2rem;
  height: auto;
  
}

.food-card-title {
  width: 70%;
  margin: auto;
  margin-bottom: 1.5rem;
  /*padding-bottom: 1rem;*/
  color: rgb(85, 81, 255);
  
  

}

.food-card-title h4 {
  color:  rgb(85, 81, 255);
}

.left-arrow {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 3%;
  left: 7%;
  font-size: 2rem;
}

.right-arrow {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 3%;
  right: 7%;
  font-size: 2rem;

}

.nutrition-collapse {
  border: 0px;
}

/* Nutrition Desktop */

.nutrition-desktop {
  display: flex;
}

.picker {
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.picker .ant-row {
  width: 100%;
}

.picker-button {
  border: 3px solid black;
  border-radius: 10px;
  
}

.nutrition-desktop {
  margin-top: 2rem;
}
/* Gear Page Styling */

.complete-by-date {
  font-weight: 600;
  text-decoration: underline;

}
.expert-image {
  
  height: 75px;
  width: 75px;
  margin: auto;
}

.card_purchase_button {
 
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: left;
}

.card_purchase_button button{
 
  border: 2px solid black;
  background-color: white;
  color: black;
  height: 40px;
  
}


.gear-drawer {
  width: 60%;
}

.gear-info-card {
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  max-width: 500px;
  min-height: 350px;
  max-height: 530px;
}

.drawer-intro {
  padding: 2rem;
  
}

/* Checklist Styles */

.checklist-icon-box {
  text-align: center;
}

.clock-icon {
  font-size: 2rem;
}

/* Progress Bar */


/* Mark Complete Styling */

.mark-complete-button:hover {
  background-color: blue;

}

/* Mark Complete Standalone Component */

.mark-complete-standalone {
  margin-top: 2rem;
}

.complete-box {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
/* Checklist Card Progress Bar */




/* Navbar styling */
.menu-bar{
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  height: 4rem;
}

.menu-button {
  width: 100%;
  padding: 0.3rem;
  border: 3px solid black;
  margin: auto;
}
.logo{
  width: 150px;
  float: left;
  font-size: 2rem;
}
.logo a{
  display: inline-block;
  font-size: 30px;
  padding: 19px 20px;
  text-transform: capitalize;
}
.menuCon{
  width: calc(100% - 150px);
  float: left;
}
.menuCon .ant-menu-item{
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title{
  padding: 10px 20px;
}
.menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a{
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal{
  border-bottom: none;
}
.menuCon .leftMenu{
  float: left;
}
.menuCon .rightMenu{
  float: right;
}
.barsMenu{
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
  border: 0px;
}
.barsBtn{
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  background: black;
  position: relative;
}
.barsBtn:after,.barsBtn:before{
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: black;
}
.barsBtn:after{
  top: auto;
  bottom: -6px;
}
.ant-drawer-body{
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal{
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom-color: transparent;
}

.menu-drawer {

}

.menu-drawer a {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 0.5rem;
}

/* Responsive Styling */

@media(max-width: 767px){
  .barsMenu{
    display: inline-block;
  }
  .leftMenu,.rightMenu{
    display: none;
  }
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }
}

@media(min-width: 767px) {
 
  /* Global Styles */

  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #191b22;
    font-size: 42px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 500;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 200;
    letter-spacing: -0.03em;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.03em;
  }
  
  /* Content Prebuilds */

  .secondary-banner-content {
    width: 80%;
    margin: auto;
    text-align: center;
    
  }
  .guide-banner-title h5 {
    color:white;
    font-weight: 300;
    font-size: 30px;
  }
  

  .content {
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
  }
  .card-box {
    /*display: flex;*/
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
    
  }

  .card {
    width: 100%;
   
    
  }
  
  .card-image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
   
    
    
  }

  

  .card-text {
    height: 250px;
  }




  .menu-drawer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-content {
    /*padding-left: 200px;
    padding-right: 20%;*/
    width: 80%;
    max-width: 90%;
    margin: auto;
    margin-top: 3rem;
  }

  .page-intro {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  /* Nutrition Page */

  .picker {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .nutrition-desktop {
    margin-top: 2rem;
  }

  .nutrition-types-container {
    display: flex;
    justify-content: space-around
  }

 

  .nutrition-type-item {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    text-align: left;
  }

  .nutrition-image-box {
    width: 100%;
    max-height: 500px;
    text-align: center;
  }


  
  .what-to-look-for {
    /*display: flex;*/
    align-items: center;
    justify-content: flex-start;
    /*width: 70%;*/
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    
  }

  .what-to-look-for-content {
    text-align: left;
    margin-left: 2rem;
    text-align: center;
  }
  
  .format-detail {
    margin: auto;
    text-align: center;
  }

  .food-card-image {
    max-width: 300px;
    margin: auto;
    
    border: 0px;
  }

  .grain {
    vertical-align: middle;
    align-items: center;
    max-width: 100%;

  }

  /* Vet Page */

  .vet-find-container {
    display: flex;
    align-items: center;

  }

  .vet-map {
    margin: auto;
    padding: 2rem;
    max-width: 700px;
    
  }
}

@media(min-width: 1000px) {
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #191b22;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 200;
    letter-spacing: -0.03em;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.03em;
  }

  .guide-banner-title h5 {
    color:white;
    font-weight: 300;
    font-size: 34px;
  }

  /* Content prebuilds */ 
  .secondary-banner-content {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
  }
}