@import '~antd/dist/antd.css';


/* Global Styles */ 

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #191b22;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 500;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 200;
  letter-spacing: -0.03em;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: -0.03em;
}



.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

/* Section Styling */ 

.hero {

    min-height: 650px;
    padding-top: 120px;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #f8faff;
    background-position: 50% 130%;
    background-size: 1810px;
    background-repeat: no-repeat;

}

.title-centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-title {
  position: relative;
  top: -20px;
}
.display-heading {
  font-size: 52px;
  max-width: 560px;
  margin-top: 0px;
  margin-bottom: 24px;
  color: #2d3958;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: -0.03em;

}

.hero-details {
  max-width: 690px;
  color: #29335c;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.section {

    position: relative;
    padding-top: 56px;
    padding-bottom: 56px;
    direction: ltr;
    z-index: 2

}

.content-section {
  padding-top: 80px;
  padding-bottom: 80px;
  padding: 100px 3%;
}

.main-container {
  padding-right: 21px;
  padding-left: 21px;
  max-width: 488px;
  margin-right: auto;
  margin-left: auto;
}



.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cta-section {
 
  padding: 100px 3%;

  position: relative;
  
}

.cta-banner-dark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 260px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #6a35ff;
  background-image: url(https://assets.website-files.com/5e7adff…/5e7adff…_Pattern%20Shape.svg);
  background-position: 50% 50%;
  background-size: cover;
}

.next-section-content {

  color: white;
  text-align: center;
}

.cta-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  flex-direction: column;
  -ms-flex-pack: justify;
 
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}


.cta {
  position: relative;
  max-width: 1270px;
  margin-right: auto;
  margin-left: auto;
  padding: 56px 28px;
  
}

.cta-content {
  position: relative;
  z-index: 2;
  display: flex;
    -webkit-box-pack: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.large-heading {
  color: #29335c;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
}

.large-heading.cta-heading {
  max-width: 622px;
  margin-bottom: 30px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0em;

}

.cta-button-container {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: 40px;
  
}

.button-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #6a35ff;
  font-weight: 600;
  text-align: center;
}

.large {
 
    padding: 19px 36px;
    font-size: 20px;
    line-height: 30px;

}

.input-banner-dark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #6a35ff;
  background-image: url(https://assets.website-files.com/5e7adff…/5e7adff…_Pattern%20Shape.svg);
  background-position: 50% 50%;
  background-size: cover;
  
}

.input-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  flex-direction: column;
  -ms-flex-pack: justify;
 
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.input-button-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  
}

.input-label-box {
  margin-bottom: 20px;
  text-align: center;
}
.move-up {
  padding-top: 0;
}

.faq-section {
  padding: 100px 3%;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.content-h2 {
  font-size: 42px;
  font-weight: 500;
}
/* Collapse */ 

.ant-collapse {
  background-color: white;
}

.ant-collapse .ant-collapse-item {
  margin-bottom: 20px;
  background-color: white;
}
.ant-collapse .ant-collapse-item .ant-collapse-header {
  border: 1px solid rgb(159, 6, 255);
}

.ant-collapse-content {
  border: 0;
}
/* Image Containers */ 

.portrait-image-container {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
  
}

/* Colour Styling */ 
.blue {
  background-color: rgb(105, 155, 247);
}

.light-blue {
  background-color:#ebfbff;
}

.light-grey {
  background-color: #f8f8f8;
}

.green {
  background-color: #D1F2EB;
}

.dark-green {
  background-color: #0FA958;
}

.yellow {
  background-color: #FEF9E7;
}

.dark-yellow {
  background-color: #FFC700;
  color: black;
}

.white {
  background-color: white;
}

.light-pink {
  background-color: #fff7f2;
}

.pink {
  background-color: #CE2158;
}

.orange {
  background-color: #EB8643;
}

.light-green {
  background-color: #DDEFEF
}

.light-purple {
  background-color: rgb(199, 185, 255);
}

.purple {
  background-color: #A259FF;
}

.dark-purple {
  background-color: #5551FF;
  
}

.black {
  background-color: black;
  
}

.coral {
  background-color: rgb(255, 133, 119);
}

.grey {
  background-color: #fff8f5;
}

.font-white {
  color: white;
}

.font-coral {
  color:  rgb(255, 133, 119);
}

.font-purple {
  color: #5551FF;
}

.font-white h3 {
  color: white;
}

.font-white h5 {
  color: white;
}

.black-font {
  color: black;
}

.black-border {
  border: 3px solid black;
  border-radius: 10px;
}

.space {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Global Components */
 .banner-button {
   border: 3px solid black;
   border-radius: 10px;
   background-color: white;
   color: black;
   font-size: 1rem;
   height: 50px;
   width: 200px;
   margin-top: 2rem;
 }

 /* Grids */ 

 .grid-container {
   margin-top: 40px;
 }
 .grid-image {
   width: 100%;
   margin: auto;
   text-align: center;
   border-radius: 24px;
 }

 .ant-col {
   /*max-width: 500px;*/
   margin: auto;
   
 }



 .grid-content {
  vertical-align: middle;
  align-items: center;
  max-width: 500px;
  
  
}



/* Page Styles */
/* All Pages */

.page-intro {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-content {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}

.guide-page-content {
  width: 100%;
  margin: auto;
  margin-top: 4rem;
}

/* Dashboard */ 
.dog-info-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  background-color: #fbf3ff;
  padding: 20px;
  border-radius: 25px;
  max-width: 500px;
}

.newsfeed-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.newsfeed-item-image-box {
    width: 160px;
    height: 160px;
    min-width: 160px;
    margin-right: 20px;

}

.newsfeed-item-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #ebfbff;
}

.newsfeed-item-content {
  width: 100%;
  height: 100%;
  color: #2d3958;
}

.newsfeed-category-title {
  margin-bottom: 10px;
  color: #5d3eff;
  font-size: 16px;
}

.newsfeed-item-heading {
  margin-top: 0px;
  margin-bottom: 10px;
}

.newsfeed-item-detail {
  margin-bottom: 0px;
  font-size: 17px;

}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.feature-newsfeed-image-box {
  width: 100%;
  height: 400px;
  overflow: hidden;
  max-height: none;
}


.feature-newsfeed-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: #ebfbff;
}

.feature-newsfeed-content {
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  color: #2d3958;
  padding-left: 10px;
  padding-right: 20px;
}

.feature-heading {
  font-size: 30px;
}

.dashboard-card {
  width: 100%;
  max-width: 350px;
  max-height: 550px;

  margin: auto;
 
  /*border: 1px solid rgb(85, 81, 255);*/
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(64, 62, 61, 0.05) 0px 5px 15px 0px;
 
  
}


.dashboard-card .ant-card-meta-title {
color: #001a49;
font-size: 24px;
font-weight: 600;
/*text-transform: uppercase;*/
white-space: normal;
}

.ant-card-meta-description {
color: #5d3eff;
}

.ant-card-cover img {
  background-color: rgb(199, 185, 255);
}

.dashboard-card-content {
  text-align: left;
  margin-top: 20px;
}

.dog-info-item {
  text-align: center;
}

.dog-info-image-box {
position: relative;
top: -50px;
}

.dog-info {
  padding-top: 100px;
  padding-bottom: 40px;
}

.cta-section .no-bottom-padding {
  padding-bottom: 0px;
}

.mid-page-banner {
  
}

/* Doggo Shop */ 

.shop-product-image-box {
  
}

.shop-product-image {
  width: 100%;
  object-fit: cover;
}

.
/* Signup Page */

.signup-form-page {
  height: 100vh;
}

.progress-bar-container {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}
.signup-form-container {
  padding-top: 4rem;
}
.signup-header {
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
}
.signup-form-fields-container {
  margin: auto;
}

.signup-form-grid .ant-col {
  margin: auto;
  text-align: center;
}

.doggo-input-container {
  margin: auto;
  justify-self: center;
  align-self: center;
  align-items: center;
}


.doggo-input {
  height: 80px;
  margin: auto;
}

.doggo-input-text-field {
  height: 52px;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0 0 hsla(0,8%,61%,.5);
    border: 1px solid #acacbc;
    background-color: #fff;
    outline: none;
}

.doggo-input-number-field {
   width: 55px;
  height: 52px;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0 0 hsla(0,8%,61%,.5);
    border: 1px solid #acacbc;
    background-color: #fff;
    outline: none;
}

.doggo-input-number-label {
  justify-self: center;
  align-self: center;
  align-items: center;
}

.signup-form-next-button button {
  border: 3px solid black;
  border-radius: 10px;
  height: 52px;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
}




/* Landing Page */

.grid-halves-section {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-section-half {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 672px;
  padding: 30px 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: auto;
}

.bg-primary-4 {
  background-color: #eff9fb;
}

.container {
  width: 100%;
  max-width: 497px;
  direction: ltr;
  text-align: left;
}

.container-2 {

    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  
}

.row-content-intro h2 {
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 42px;
  line-height: 1.08;
  font-weight: 500;
  letter-spacing: -0.03em;

}

.row-content-intro p {
 
    margin-bottom: 10px;
    color: #7b88a8;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;

}

.paragraph {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
}



.bg-element {
  position: absolute;
  
  z-index: -1;
  width: 85%;
  max-width: 470px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 32px;
  background-color: #f8faff;
}

.bg-element.bg-yellow {
    height: 100%;
    max-height: none;
    min-height: 500px;
    left: 0%;
    top: 0%;
    right: -25%;
    bottom: auto;
    max-width: 470px;
    background-color: #fff7f2;
} 

.display-heading-1 {
  margin-bottom: 14px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #29335c;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.interface-screenshot-decoration {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35%;
  height: 75%;
}

.round-bottom-right {
  border-bottom-right-radius: 1200px;
}

.bg-primary-5 {
  background-color: #f3663f;
}

.top-layer {
  position: relative;
  z-index: 2;
}


.landing-page-banner {
  min-height: 100px;
  padding: 2rem;
  vertical-align: middle;
}

.landing-page-call-to-action {
  vertical-align: middle;
  padding-top: 8rem;
  align-items: center;
}
.call-to-action-block-content {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.call-to-action-primary {
  width: 33%;
  text-align: left;
}

.call-to-action-image-container {
  width: 44%;
  text-align: center;
}

.call-to-action-image {
  width: 84%;
  object-fit: cover;
  max-height: 500px;
}

/* Call to Action Block */

.call-to-action-primary-mobile {
  text-align: center;
}

.call-to-action-image-container-mobile {
  text-align: center;
  
}

.stock-image {
  width: 100%;
  
}


/* Navbar Styles */ 


.menu-drawer {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.mobile {
  padding: 1rem;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 5px;
  color: black;
}

.logo-photo {
  height: 35px;
  margin-right: 0.75rem;
  padding-top: 0.4rem;
}

.next-section-button {
  width: 100%;
  /*background-color: #FFC700;*/
  /*text-align: center;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center; 
  
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.next-section-button-content {
  width: 80%;
  margin: auto;
}

.next-section-button button {
  width: 100%;
  max-width: 400px;
 
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  border: 3px solid black;
  background-color: white;
  color:black;
  margin-top: 2rem;
  
  
}

/* Checklist Page Elements */

.time-tracker-container {
  top: 60px;
  position: relative;
  display: flex;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    background-color: #f0fbf7;
    border-radius: 25px;
    height: 120px;
    padding: 20px;

}

.checklist-step-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  background-color: #fbf3ff;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 30px;
  justify-content: center;
  height: 300px;
}

.checklist-step-count {
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 81, 255);
  margin-bottom: 20px;
}

.checklist-step-content {
  text-align: center;
  color: black;

}


.checklist-card-step-count {
  display: flex;
  background-color: #6a35ff;
  width: 100px;
  height: 25px;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 25px; 
  margin-bottom: 15px;

}
.show-checklist button {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  color:black;
  height: 3rem;
  width: 200px;
  margin-top: 3rem;
}



.guide-banner {
  width: 100%;
  height: 600px;
  
  z-index: 2;
  text-align: left;
  position: relative;
  
} 

.guide-banner-image {
  
  width: 100%;
  min-height: 600px;
  object-fit: cover;
  opacity: 1.2;
  
  
}

.guide-banner-title {
  position: absolute;
 
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.guide-banner-title h5 {
  color:white;
  font-weight: 300;

}

.guide-banner-title h3 {
  color: white;
  font-size: 2.25rem;
  margin-top: 0.5rem;
}

.secondary-banner {
  color: white;
  padding: 2rem;
  
}

.secondary-banner-content {
  width: 100%;
  margin: auto;
  text-align: center;
  
}

.secondary-banner h5 {
  
  font-weight: 500;
 
}

.secondary-banner-content .icon {
  font-size: 3rem;
}


.checklist-page-alert {
  max-width: 80%;
  margin: auto;

}

.checklist-icon {
  font-size: 24px;
}

.center {
  text-align: center;
}





/* Cards (In Checklist and Gear Pages) */
.gear-row {
  margin: auto;
  text-align: center;
}

.gear-card-box {
  margin: auto;
}

.gear-card-button {
  border: 0px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.gear-card-icon {
  margin-left: 10px;
}

.checklist-card-box {
  margin: auto;
}

.card-box {
  /*display: flex;*/
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 20px;

  
  
}

.card-box .ant-row {
  text-align: center;
}

.card-box-subtitle {
  font-weight: 400;
}

.checklist-card {
    width: 100%;
    max-width: 350px;
    max-height: 550px;

    margin: auto;
   
    /*border: 1px solid rgb(85, 81, 255);*/
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(64, 62, 61, 0.05) 0px 5px 15px 0px;
   
    
}


.ant-card-meta-title {
  color: #001a49;
  font-size: 24px;
  font-weight: 600;
  /*text-transform: uppercase;*/
  white-space: normal;
}

.ant-card-meta-description {
  color: coral;
}



.gear-card {
  width: 100%;
  max-width: 350px;
  max-height: 550px;

  margin: auto;
 
  box-shadow: rgba(64, 62, 61, 0.05) 0px 5px 15px 0px;
  border-radius: 25px;
  overflow: hidden;
 
  
}

.gear-card .ant-card-body {
  padding: 1rem;
  height: 120px;
}



/*.card-image {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  overflow: hidden;
  max-height: 250px;
  z-index: -1;

  
  
}

.card-image img {
  z-index: -1;
  
}
*/

.card-text {
  text-align: left;
}


.ant-progress-circle-path {
  height: 50px;
  width: 50px;
}

.card-content {
  display: flex;
  text-align: left;

  
  
}

.ant-card-body {
  height: 175px;
}

.gear-info-card .ant-card-body {
  height: auto;
}

.drawer-button {
 /* margin-bottom: 1rem;*/
}



/* Vet Page */


.vet-finder .checklist-page-section-intro {
  margin-bottom: 2rem;
}

.vet-finder-input {
  
  margin-top: 2rem;
  border: 3px solid rgb(85, 81, 255);
  padding: 1rem;
  
}

.vet-finder-input-box {
  width: 80%;
}

.vet-finder-button {
  width: 100%;
}

.vet-finder input {
  background-color: rgb(255, 133, 119);
  border: 3px solid black;
  height: 60px;
  width: 100%;
}

.vet-finder-input h5 {
  margin-top: 0px;
}

.vet-map {
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  
}

.vet-grid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.vet-list {
  margin-top: 2rem;
}
.vet-card {
  margin-top: 1rem;
}



/* Puppy Socialization */

.puppy-class-counter {
  display: flex;
}
.alert-box {
  margin-top: 2rem;
}

.training-detail {
  margin-top: 2rem;
}
.training-action {
  display: flex;
 
  margin: auto;
  margin-bottom: 2rem;
}

.training-content {
  width: 60%;
  margin-left: 1rem;
}

.training-learning-points {
  margin-top: 2rem;
}

.training-avatar {
  margin-bottom: 1rem;
}

.trainer-container {
  margin: auto;
  text-align: center;
}

.trainer-container h2 {
  margin-bottom: 3rem;
}

.trainer-card {
  margin: auto;
  margin-top: 2rem;
  box-shadow: rgba(64, 62, 61, 0.05) 0px 5px 15px 0px;
  border-radius: 5px;
  width: 300px;
  text-align: left;
 

}

.trainer-card-content {
  height: 200px;
}

.trainer-card .ant-card-body {
  background-color: white;
  height: 300px;
  
}

.trainer-card .ant-card-head {
  background-color: #5551FF;
  height: 100px;
  font-size: 1rem;
  
}

.trainer-card .ant-card-head-title {
  font-size: 1.3rem;
  color: coral;
  white-space: normal;
}

/* Survival Guide Styling */

.survival-guide-header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.survival-guide-header-button {
  width: 120px;
  border: 3px solid black;
   border-radius: 10px;
   background-color: white;
   color: black;
   font-size: 0.75rem;
   height: 50px;
   
}

.selected {
  background-color: coral;
  color: white;
  border: 3px solid rgb(85, 81, 255);
}

.grid-container {
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

.survival-guide-banner .ant-row {
  text-align: center;
  
}

.survival-guide-banner-col {
  text-align: center;
  max-width: 130px;
  margin-bottom: 2rem;
}

.survival-guide-header-image {
  margin: auto;
  width: 100%;
  text-align: center;
}

.survival-guide-headshot {
  max-height: 120px;
}

.survival-guide-banner {
  width: 100%;
  height: 500px;
  text-align: center;
  z-index: 2;

  position: relative;
  
} 


.survival-guide-banner-image {
  
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  opacity: 1.2;
  
  
}

.survival-guide-banner-title {
  position: absolute;
 
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.survival-guide-banner-title h5 {
  color:rgb(85, 81, 255);
  font-weight: 500;
  font-size: 2rem;
}

.survival-guide-banner-title h3 {

  font-size: 2.25rem;
  margin-top: 0.5rem;
}

.survival-guide-faq {
  border: 0px solid white;
  margin-top: 2rem;
}

.survival-guide-faq .ant-collapse-item .ant-collapse-header {
  background-color: white;
  color: rgb(85, 81, 255);
  font-size: 1.5rem;
  border: 0px solid white;
}

.ant-collapse-header {
  border: 0px solid white;

  color: white;
}

.survival-guide-steps {
  width: 100%;
}

.survival-guide-steps-row .ant-col {
  padding: 2rem;
}

.survival-guide-step-col {
  padding: 2rem;
  max-width: 400px;
}

.survival-guide-steps_num {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    line-height: 50px;
    margin: auto;
    background: #fff;
}

.survival-guide-image {
  max-width: 700px;
}

.pro-tip-icon {
 
  width: 100px;
}

.survival-content-group {
  margin-top: 2rem;
}

.trick-list {
  display: flex;
  align-items: center;
 
}

.trick-list-num {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    line-height: 50px;
    margin-right: 2rem;
    background: black;
    text-align: center;
    font-size: 1rem;
    font-weight: 700
}

.trick-list-content {
  width: 400px;
}

.back-to-guide-button {
   position: absolute;
   width: 70%;
   top: 15%;
   left: 175px;
   transform: translate(-50%, -50%);
   color: white;
   margin-bottom: 4rem;
}

.back-to-guide-button button {
  border: 2px solid black;
  background-color: rgb(85, 81, 255);
  color: white;
  
}

.section-count {
  border: 3px solid black;
  border-radius: 10px;
  background-color: black;
  width: 30%;
  max-width: 250px;
  color: white;
  font-weight: 500;
  text-align: center;
}

.survival-guide-title {
  color: #A259FF;
}

.title-box h5 {
  color: coral;
  font-weight: 500;
}

.survival-guide-step {
  color: coral;
  font-weight: 700;
}

.video-link {
  max-width: 700px;
  text-align: center;
}

.page-image {
  width: 100%;
  
}

.guide-detail {
  margin-top: 2rem;
}
.guide-action {
  display: flex;
 
  margin: auto;
  margin-bottom: 1rem;
}

.guide-content {
  width: 60%;
  margin-left: 1rem;
}

.guide-points {
  margin-top: 1rem;
}

.guide-avatar {
  margin-bottom: 1rem;
}

.guide-start {
  background-color: white;
  border: 1px solid coral;
  padding: 1rem;
  text-align: center;
}

.guide-direction-button {
  width: 20%;
  text-align: center;
}

/* Guide Pages */


.back-to-checklist-button-test {
  /*position: absolute;*/
  width: 70%;
  /*top: 15%;/*
  /*left: 175px;*/
  /*transform: translate(-50%, -50%);*/
  color: white;
  margin-bottom: 4rem;
  
}

.back-to-checklist-button-test button {
  border: 2px solid black;
  background-color: white;
  color: black;
  
}

.guide-content-intro {
  padding: 2rem;
}

.guide-content-outro {
  padding: 2rem;
}

.row-content-intro {
  margin-bottom: 2rem;
}

.stock-box {
  margin: auto;
  text-align: center;
}
.stock-icon {
  width: 300px;
  height: 300px;
  text-align: center;
  margin: auto;
}
/* PrepareHome Page */

.guide-progress {
  background-color: white;
  text-align: center;
}
.guide-control-bar {
  display: flex;
}

.guide-step-count {
  width: 60%;
  text-align: center;
}

.icon-box {
  text-align: center;
  margin-top: 2rem;
}

.prepare-home-icon {
  font-size: 40px;
}

/* Pickup Pup */

.intro {
  
  margin-top: 3rem;
}
.russ-image {
  width: 225px;
  max-height: 225px;
  border-radius: 50%;
  object-fit: cover;
}

/* pup home page */

.guide-content-one {
  padding: 2rem;
  background-color: #FFEEFF;
  color: rgb(39, 21, 68)
  
}

.guide-content-two {
  padding: 2rem;
  background-color:#FFFFEE;
  
}

.guide-content-three {
  padding: 2rem;
  background-color:#FFEEDD;
  
}

.guide-content-four {
  padding: 2rem;
  background-color:#CCEEDD;
  
}

/* Food Page */

.nutrition-step-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  background-color: #fbf3ff;
  padding: 20px;
  border-radius: 25px;
  max-width: 800px;
}

.step-count {
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 81, 255);
}

.step-content {
  text-align: center;
}

.content {
  height: auto;
}
.food-expert {
  text-align: center;
  background-color: white;
  padding: 1rem;
}

.food-avatar {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.food-card {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
}

.food-card .ant-card-body {
  padding: 0px;
  border: 0px;
}

.food-card-image {
  margin: auto;
  /*object-fit: cover;*/
  border: 0px;
  width: 90%;
}

.food-card-content {
  text-align: left;
  padding: 0px;
}

.food-card h5 {
  font-weight: 700;
  color: rgb(85, 81, 255);
}

.food-card h6 {
  font-weight: 600;
  color: rgb(255, 133, 119);
}

.food-card .ant-collapse-header {
  border: 1px solid rgb(159, 6, 255);
  border-radius: 25px;
}

.food-card .card_purchase_button button{
  
  border-radius: 25px;
  background-color: rgb(85, 81, 255);
  color: white;
  height: 50px;
  width: 90%;
  
}

.more-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nutrition-types-container {
  display: flex;
  justify-content: space-around
}

.nutrition-type-item-image-container {
  width: 300px;
  height: 300px;
  
 
  padding: 1rem;
  text-align: left;

}


.nutrition-type-item {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  text-align: left;
}

.food-image {
  width: 100%;
  object-fit: cover;
  background-color: #ebfbff;

}

.nutrition-image-box {
  width: 100%;
  max-height: 500px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
 
}

.grain {
  vertical-align: middle;
  align-items: center;
  max-width: 100%;
  
  
}


.grain-content {
  max-width: 456px;
  padding-left: 1rem;
}

.grain image {
  max-width: 400px;
  text-align: center;
}

/* Food Carousel Styling */
.ant-carousel .slick-slide {
  text-align: center;
 
  line-height: 160px;
  /*background: #364d79;*/
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.carousel-control {
  vertical-align: middle;
  padding: 1rem;
}

.carousel-control h4 {
  margin: auto;
  text-align: center;
}

/* Nutrition Page Styling */

.nutrition-list-container {
  position: relative;
  top: -140px;
  padding-top: 0;
display: block;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}

.food-type-image-box {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin: auto;
}

.what-to-look-for-icon {
  margin: auto;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.checklist-page-section-intro {
  margin-bottom: 4rem;
}

.checklist-page-section-intro h3 {
  margin-bottom: 2rem;
}

.checklist-page {
  padding: 2rem;
  
}

.nutrition-type-item {
  
  margin: auto;
  margin-top: 3rem;
}

.nutrition-type-content {
  text-align: left;
}


.center {
  text-align: center;
}


.format-picker {
  display: flex;
  height: 3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.picker-button {
  background-color: white;
  border: 1px solid #34495E;
  color: #34495E;
  width: 500px;
  height: 100px;
  font-size: 1rem;
}

.picker-button h5 {
  margin-top: 0px;
}

.checked {
  background-color: #34495E;
  color: white;
}

.carousel-intro {
  padding: 2rem;
  background-color: white;
}

.carousel-test {
  position: relative;
  background-color: white;
  padding: 2rem;
  height: auto;
  
}

.food-card-title {
  width: 70%;
  margin: auto;
  margin-bottom: 1.5rem;
  /*padding-bottom: 1rem;*/
  color: rgb(85, 81, 255);
  
  

}

.food-card-title h4 {
  color:  rgb(85, 81, 255);
}

.left-arrow {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 3%;
  left: 7%;
  font-size: 2rem;
}

.right-arrow {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 3%;
  right: 7%;
  font-size: 2rem;

}

.nutrition-collapse {
  border: 0px;
}

/* Nutrition Desktop */

.nutrition-desktop {
  display: flex;
  flex-direction: column;
}

.picker {
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.picker .ant-row {
  width: 100%;
}

.picker-button {
  border: 3px solid black;
  border-radius: 10px;
  
}

.nutrition-desktop {
  margin-top: 2rem;
}
/* Gear Page Styling */
.section-hero {

  min-height: 600px;
  padding-top: 120px;
  padding-right: 3%;
  padding-left: 3%;
  
  background-position: 50% 130%;
  background-size: 1810px;
  background-repeat: no-repeat;
  z-index: 2;

}

.selections {
  top: -50px;
  position: relative;
  display: flex;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  justify-content: space-around;
  align-items: center;
  background-color: #6a35ff;
  border-radius: 50px;
  height: 50px;
  padding: 20px;
  color: white;
  font-weight: 500;
    font-size: 16px;
    width: 70%;
}

.gear-icon {
  height: 120px;
  border: 3px solid black;
  border-radius: 50%;
}

.gear-list-container {
    position: relative;
    top: -140px;
    padding-top: 0;
  display: block;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.gear-title-box {
  background-color: #6a35ff;
  width: 100%;
  border-radius: 25px;
}
.gear-title-wrap {
    display: flex;
    width: 100%;
    max-width: 670px;
    margin: 20px auto 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    color: white;
    
}

.gear-title-wrap h2 {
  font-size: 48px;
}

.bg-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  
  
  margin: auto;
 
  
}

.bg-container.bg-top {
  min-height: 540px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gear-list {
  /*position: relative;
  top: -200px;
  padding-top: 0;*/

}

.tab-menu {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 29px;
  padding-bottom: 29px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  background-color: #6a35ff;
  background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    z-index: 3;
}

.tab-menu .banner-button {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 0px;
  color: #6a35ff;
  font-size: 20px;
}

.ant-btn .banner-button .ant-btn-default button {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 0px;
  color: #6a35ff;
  background-color: #6a35ff;
  font-size: 20px;
}

.ant-btn .banner-button .ant-btn-primary button{
  margin-bottom: 10px;
  margin-top: 10px;
  border: 0px;
  color: #6a35ff;
  font-size: 20px;
}

.tab-menu .banner-button ::selection {
  background-color: white;
  color: purple;
}

.unselected-button {
  background-color: #c08fd8;
  
}

.tab-link {
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
padding: 18px 40px;
border-radius: 50px;
}

.w-tab-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
   
    text-align: left;
    cursor: pointer;
}


.gear-grid {
  width: 100%;
max-width: 670px;
margin-right: auto;
margin-left: auto;
}

.gear-grid-subtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding: 10px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #6a35ff;
  color: white;
}

.complete-by-date {
  font-weight: 600;
  text-decoration: underline;

}
.expert-image {
  
  height: 75px;
  width: 75px;
  margin: auto;
}

.card_purchase_button {
  color: #6a35ff;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.card_purchase_button button{
 
  color: #6a35ff;
  background-color: white;
 
  height: 40px;
  
}


.gear-drawer {
  width: 60%;
}

.gear-info-card {
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  max-width: 500px;
  min-height: 350px;
  max-height: 530px;
}

.drawer-intro {
  padding: 2rem;
  
}

/* Checklist Styles */

.checklist-icon-box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 80px;
  width: 100px;
  background-color: lightsalmon;
  border-radius: 25px;
  margin-right: 20px;
}

.clock-icon {
  font-size: 2rem;
}

/* Progress Bar */


/* Mark Complete Styling */

.mark-complete-button:hover {
  background-color: blue;

}

/* Mark Complete Standalone Component */

.mark-complete-standalone {
  margin-top: 2rem;
}

.complete-box {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
/* Checklist Card Progress Bar */




/* navvbar styling */
.menu-bar{
  position: sticky;
  padding: 0 20px;
  top: 0px;
  overflow: auto;
  
  background-color: white;
  height: 5rem;
  z-index: 10;
}

.menu-button {
  width: 100%;
  padding: 0.3rem;
  /*border: 3px solid black;*/
  margin: auto;
}

.signup {
  background-color: black;
  color: white;
  border-radius: 25px;
  height: 40px;
  width: 100px;
  font-weight: 600;
}
.logo{
  width: 150px;
  float: left;
  font-size: 2rem;
}
.logo a{
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  padding: 19px 20px;
  text-transform: capitalize;
}

.logo h3 {
  font-weight: 500;
  margin: 0px;
}
.menuCon{
  width: calc(100% - 150px);
  float: left;
}
.menuCon .ant-menu-item{
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title{
  padding: 10px 20px;
}
.menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a{
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal{
  border-bottom: none;
}
.menuCon .leftMenu{
  float: left;
}
.menuCon .rightMenu{
  float: right;
}
.barsMenu{
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
  border: 0px;
}
.barsBtn{
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  background: black;
  position: relative;
}
.barsBtn:after,.barsBtn:before{
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: black;
}
.barsBtn:after{
  top: auto;
  bottom: -6px;
}
.ant-drawer-body{
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal{
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom-color: transparent;
}



.menu-drawer a {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 0.5rem;
}

/* Responsive Styling */

@media(max-width: 767px){
  .barsMenu{
    display: inline-block;
  }
  .leftMenu,.rightMenu{
    display: none;
  }
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }

  .grid-text-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .text-large {
    font-size: 20px;
  }
}

@media(max-width: 1000px) {
.checklist-step-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  background-color: #fbf3ff;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 30px;
  justify-content: center;
  height: 300px;
}

.checklist-step-count {
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 81, 255);
  margin-bottom: 20px;
}

.checklist-step-content {
  text-align: center;
  color: black;

}
}

@media(min-width: 500px) {
  /*.gear-list {
    top: -250px;
  }*/
}
@media(min-width: 767px) {
 
  /* Global Styles */

  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #191b22;
    font-size: 42px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 500;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 200;
    letter-spacing: -0.03em;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.03em;
  }
  
  /* Content Prebuilds */

  .section {
    padding-top: 84px;
    padding-bottom: 84px;
    z-index: 2
  }

  .main-container {
    padding-right: 28px;
    padding-left: 28px;
    
  }

  .cta-section{
   
    position: relative;
  

  }

  .cta-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .next-section-content {
    width: 50%;
    color: white;
    text-align: left;
  }

  .cta-button-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.button-cta {
  font-size: 16px;
}

  .cta {
    position: relative;
    max-width: 1270px;
    margin-right: auto;
    margin-left: auto;
    padding: 56px;
}



.cta-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-button-container {
  width: 100%;
  text-align: center;
  margin-left: 20px;
  margin-top: 0px;
}

.input-label-box {
  margin-bottom: 20px;
  text-align: left;
}



  /* Images */ 

  .portrait-image-container {
    width: 80%;
    
  }

  .secondary-banner-content {
    width: 80%;
    margin: auto;
    text-align: center;
    
  }
  .guide-banner-title h5 {
    color:white;
    font-weight: 300;
    font-size: 30px;
  }
  

  .content {
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
  }
  .card-box {
    /*display: flex;*/
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
    
  }

  .card {
    width: 100%;
   
    
  }
  
  .card-image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
   
    
    
  }

  

  .card-text {
    height: 250px;
  }




  .menu-drawer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-content {
    /*padding-left: 200px;
    padding-right: 20%;*/
    width: 80%;
    max-width: 90%;
    margin: auto;
    margin-top: 3rem;
  }

  .page-intro {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  
  /* Nutrition Page */

  .nutrition-step-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    background-color: #fbf3ff;
    border-radius: 25px;
    height: 150px;
    padding: 20px;
  }

  .step-count {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: rgb(85, 81, 255);
    margin-right: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .step-content {
    text-align: left;
    color: #001a49;
    max-width: 500px;
  }

  .nutrition-list-container {
    top: -20px;
  }

  .nutrition-desktop {
    display: flex;
    flex-direction: row;
  }

  .picker {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .nutrition-desktop {
    margin-top: 2rem;
  }

  .nutrition-types-container {
    display: flex;
    justify-content: space-around
  }

 

  .nutrition-type-item {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    text-align: left;
  }

  .nutrition-image-box {
    width: 100%;
    max-height: 500px;
    text-align: center;
    margin-top: 0px;
  }


  
  .what-to-look-for {
    /*display: flex;*/
    align-items: center;
    justify-content: flex-start;
    /*width: 70%;*/
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    
  }

  .what-to-look-for-content {
    text-align: left;
    margin-left: 2rem;
    text-align: center;
  }
  
  .format-detail {
    margin: auto;
    text-align: center;
  }

  .food-card-image {
    width: 90%;
    margin: auto;
    
    border: 0px;
  }

  .grain {
    vertical-align: middle;
    align-items: center;
    max-width: 100%;

  }

  /* Vet Page */

  .vet-find-container {
  
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: auto;
  }

  .vet-map {
    margin: auto;
    padding: 2rem;
    max-width: 700px;
    
  }

  /* Gear Page */

  .section-hero {
    min-height: 500px;
  }

  .gear-list-container {
    top: -20px;
  }
  

  .tab-menu {
    top: -40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 16px;
    background-color: #6a35ff;
    background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
  }

  .tab-menu .banner-button {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media(min-width: 1000px) {
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #191b22;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #191b22;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 200;
    letter-spacing: -0.03em;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.03em;
  }

  .guide-banner-title h5 {
    color:white;
    font-weight: 300;
    font-size: 34px;
  }

  /* Dashboard */ 

  .feature-newsfeed-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}

.feature-newsfeed-content {
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  color: #2d3958;
}

.newsfeed-heading {
  margin-top: 0px;
  margin-bottom: 10px;
}
  /* Gear Page */ 

  .tab-menu {
    top: -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 16px;
    background-color: #6a35ff;
    background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .tab-menu .banner-button {
    margin-top: 0px;
  }

  .gear-hero {

    min-height: 600px;
    padding-top: 120px;
    padding-right: 3%;
    padding-left: 3%;
  
    background-position: 50% 130%;
    background-size: 1810px;
    background-repeat: no-repeat;

}

  .gear-list-container {
    position: relative;
    top: -30px;
    padding-top: 0;

  }


  

  /* Content Prebuilds */

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main-container {
    max-width: 1328px;
  }

  .cta-section {
    padding: 100px 3%;
  }

  .cta-content {
    display: flex;
    flex-direction: row;
    position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  }

  .cta-banner-dark {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 260px;
    padding: 60px 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 24px;
    background-color: #6a35ff;
  
    background-position: 50% 50%;
    background-size: cover;
}

  .cta-button-container {
    
      margin: 0px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      max-width: 300px;
  }

  .cta-button {
    padding: 14px 24px;
    border-radius: 200px;
    background-color: white;
    box-shadow: inset 0 10px 3px 100px transparent;
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
    color: #29335c;
    font-weight: 600;
    text-align: center;
    height: 60px;
    width: 250px;
    margin: 0;
  }

  .large-heading.cta-heading {
    max-width: 622px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.button.large {
  padding: 19px 36px;
  font-size: 20px;
  line-height: 30px;
  
}

.input-banner-dark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  padding: 60px 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
 

  background-position: 50% 50%;
  background-size: cover;
}

 

  /* Images */ 

  .portrait-image-container {
    width: 70%;
    
  }
  /* Landing Page */

  .bg-element {
    position: absolute;
    
    z-index: -1;
    width: 85%;
    max-width: 470px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 32px;
    background-color: #f8faff;
  }

  .bg-gear {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: auto;
    z-index: -1;
    width: 100%;
    max-width: 850px;
    min-height: 480px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 36px;
    background-color: #f8faff;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .bg-element.bg-yellow {
      height: 100%;
      max-height: 520px;
      min-height: 500px;
      left: 0%;
      top: 0%;
      right: -40%;
      bottom: auto;
      max-width: 470px;
      background-color: #fff7f2;
  } 

  .grid-halves-section {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  
  }

  

  .display-heading-1 {
    margin-bottom: 28px;
    color: #29335c;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.text-large {
  font-size: 24px;
  line-height: 30px;
}

  /* Content prebuilds */ 
  .secondary-banner-content {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
  }

  /* Landing Page */

  .row-content-intro h2 {
      margin-top: 20px;
      margin-bottom: 24px;
      font-size: 48px;
      line-height: 1.08;
      font-weight: 500;
      letter-spacing: -0.03em;
  }

  .row-content-intro {
    padding: 20px;
  }

  /* Checklist Page */

  .checklist-step-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    background-color: #fbf3ff;
    padding: 20px;
    border-radius: 25px;
    max-width: 300px;
    height: 300px;
  }
  
  .checklist-step-count {
    width: 60px;
    height: 60px;
    font-size: 20px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 81, 255);
    margin-bottom: 20px;
  }
  
  .checklist-step-content {
    text-align: center;
    color: black;
  
  }
}