@import '~antd/dist/antd.css';


/* Global Styles */ 

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #35b8be;
  font-size: 35px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 25px;
  line-height: 1.1;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 18px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.03em;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.03em;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

/* Page Styles */
/* All Pages */

.page-intro {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-content {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}

.guide-page-content {
  width: 100%;
  margin: auto;
  margin-top: 4rem;
}

/* Card based pages */


/* Navbar Styles */ 


.menu-drawer {
  display: flex;
  flex-direction: column;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 5px;
  color: black;
}

.logo-photo {
  height: 35px;
  margin-right: 0.75rem;
  padding-top: 0.4rem;
}

/* Cards (In Checklist and Gear Pages) */


.card {
  width: 100%;
  max-width: 300px;
}

.card-image {
  
  object-fit: cover;
  max-height: 200px;
  
}

.card-text {
  text-align: left;
}


.ant-progress-circle-path {
  height: 50px;
  width: 50px;
}

.card-content {
  display: flex;
  
}


/* Vet Page */

.vet-map {
  margin-top: 2rem;
}

.vet-card {
  margin-top: 1rem;
}

.next-section-button {
  margin-top: 2rem;
}
/* Puppy Socialization */

.alert-box {
  margin-top: 2rem;
}

.training-detail {
  margin-top: 2rem;
}
.training-action {
  display: flex;
 
  margin: auto;
  margin-bottom: 2rem;
}

.training-content {
  width: 60%;
  margin-left: 1rem;
}

.training-learning-points {
  margin-top: 2rem;
}

.training-avatar {
  margin-bottom: 1rem;
}

.trainer-card {
  margin-top: 2rem;
}

/* Survival Guide Styling */


.title-box h5 {
  color: coral;
  font-weight: 500;
}

.page-image {
  width: 100%
}

.guide-detail {
  margin-top: 2rem;
}
.guide-action {
  display: flex;
 
  margin: auto;
  margin-bottom: 1rem;
}

.guide-content {
  width: 60%;
  margin-left: 1rem;
}

.guide-points {
  margin-top: 1rem;
}

.guide-avatar {
  margin-bottom: 1rem;
}

.guide-start {
  background-color: white;
  border: 1px solid coral;
  padding: 1rem;
  text-align: center;
}

.guide-direction-button {
  width: 20%;
  text-align: center;
}

/* PrepareHome Page */

.guide-progress {
  background-color: white;
  text-align: center;
}
.guide-control-bar {
  display: flex;
}

.guide-step-count {
  width: 60%;
  text-align: center;
}

.icon-box {
  text-align: center;
  margin-top: 2rem;
}

.prepare-home-icon {
  font-size: 40px;
}

/* Pickup Pup */

.intro {
  
  margin-top: 3rem;
}
.russ-image {
  width: 225px;
  max-height: 225px;
  border-radius: 50%;
  object-fit: cover;
}

/* pup home page */

.guide-content-one {
  padding: 2rem;
  background-color: #FFEEFF;
  color: rgb(39, 21, 68)
  
}

.guide-content-two {
  padding: 2rem;
  background-color:#FFFFEE;
  
}

.guide-content-three {
  padding: 2rem;
  background-color:#FFEEDD;
  
}

.guide-content-four {
  padding: 2rem;
  background-color:#CCEEDD;
  
}

/* Food Page */
.food-expert {
  text-align: center;
  background-color: white;
  padding: 1rem;
}

.food-avatar {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.food-card-image {
  height: 300px;
  object-fit: cover;
}
.food-card-content {
  text-align: left;
}

.more-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* Food Carousel Styling */
.ant-carousel .slick-slide {
  text-align: center;
 
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

/* Gear Page Styling */


.card_purchase_button {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between
}

.gear-card {
  width: 100%;
}
/* Checklist Styles */


/* Progress Bar */

.progress-bar {
  
  background-color: white;
  border: 1px solid coral;
  margin-bottom: 2rem;
  padding: 1rem;
}

/* Mark Complete Styling */

.mark-complete-button:hover {
  background-color: blue;

}

/* Mark Complete Standalone Component */

.mark-complete-standalone {
  margin-top: 2rem;
}

.complete-box {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
/* Checklist Card Progress Bar */




/* Navbar styling */
.menu-bar{
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  height: 4rem;
}
.logo{
  width: 150px;
  float: left;
  font-size: 2rem;
}
.logo a{
  display: inline-block;
  font-size: 30px;
  padding: 19px 20px;
  text-transform: capitalize;
}
.menuCon{
  width: calc(100% - 150px);
  float: left;
}
.menuCon .ant-menu-item{
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title{
  padding: 10px 20px;
}
.menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a{
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal{
  border-bottom: none;
}
.menuCon .leftMenu{
  float: left;
}
.menuCon .rightMenu{
  float: right;
}
.barsMenu{
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}
.barsBtn{
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  background: black;
  position: relative;
}
.barsBtn:after,.barsBtn:before{
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: black;
}
.barsBtn:after{
  top: auto;
  bottom: -6px;
}
.ant-drawer-body{
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal{
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom-color: transparent;
}

/* Responsive Styling */

@media(max-width: 767px){
  .barsMenu{
    display: inline-block;
  }
  .leftMenu,.rightMenu{
    display: none;
  }
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }
}

@media(min-width: 767px) {
 
  .card-box {
    display: flex;
    margin: auto;
    
  }

  .card-content {
    height: 150px;
  }



  .menu-drawer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-content {
    /*padding-left: 200px;
    padding-right: 20%;*/
    width: 80%;
    max-width: 90%;
    margin: auto;
    margin-top: 3rem;
  }

  .page-intro {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}